:root {
  --primary-color: #0C0C0C;
  --secondary-color: #d61500;
  --third-color: #121212;
  --text-color: #fcfcfc;
}

html {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
}

footer {
  padding-top: 20px;
  background-color: var(--third-color);
  height: 80px;
  width: 100%;
  text-align: center;
}

footer p {
  color: #545454;
}

footer img {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  margin-left: 6px;
  position: relative;
  top: 4px;
  height: 25px;
}

footer img:hover {
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(2.8);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  height: auto;
}

p, h1, h2 {
  font-family: "western", Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

p {
  font-size: 1.2em;
  font-weight: 100;
}

h1 {
  font-size: 4em;
  font-weight: 200;
  margin-bottom: 0px;
}

h2 {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 0px;
}

/* SLIDER */
.tns-outer {
  margin-top: -117px;
}

.tns-ovh {
  overflow: hidden;
}

.tns-outer:after {
  content: '';
  background: url("../assets/images/under_slider.png");
  background-position: center center;
  background-size: cover;
  opacity: 1;
  height: 89px;
  margin-top: -89px;
  width: 100vw;
  position: absolute;
  right: 0px;
  z-index: 0;
}

/* https://daneden.github.io/animate.css/ */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fade 2s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 2;
  }
}

.fadeOut {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fade 2s linear;
}

/* NAVBAR */

#navbar:before {
  position: absolute;
  content: '';
  top: -45px;
  background-color: var(--primary-color);
  width: 100%;
  height: 45px;
}

.grey-effect:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  transition: 1s ease;
}

#navbar {
  height: 117px;
  z-index: 9999;
  top: 45px;
  position: sticky;
  display: flex;
  justify-content: center;
  background-image: url("../assets/images/bg_navbar.png");
}

.menu-icon {
  filter: brightness(0) invert(1);
  margin-left: 6px;
  position: relative;
  top: 4px;
  height: 26px;
}

.menu-icon:hover {
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(2.8);
}

.menuMob {
  display: none;
  height: 117px;
  width: 100%;
  z-index: 9999;
  bottom: -9px;
  position: fixed;
  justify-content: center;
}

.menuMob h3 {
  font-family: "western";
  font-size: 2.3em;
  font-weight: 100;
  color: var(--text-color);
  display: inline;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  position: relative;
  top: 2px;
}

.menuMob-content {
  position: absolute;
  top: 60px;
}

.menuMob:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 117px;
  background-image: url(../assets/images/bg_navbar.png);
  transform: rotate(180deg);
  -webkit-filter: invert(28%) grayscale(136%) brightness(63%) sepia(100%) hue-rotate(-53deg) saturate(749%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(-0.2)
}

.menu {
  margin-right: 30px;
  position: absolute;
  right: 75px;
  top: -22px;
}

.menu-underline {
  position: absolute;
  left: -24px;
  top: 40px;
  max-width: none;
}

.menu h3 {
  font-family: "western";
  font-size: 2em;
  font-weight: 100;
  color: var(--text-color);
  display: inline;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  position: relative;
  top: 2px;
}

.menu h3:hover {
  color: var(--secondary-color);
}

.logo {
  position: absolute;
  top: -56px;
}

.mt-0 {
  margin-top: 85px;
}

.mt-1 {
  margin-top: 45px;
}

.mb-1 {
  margin-bottom: 45px;
}

.mb-2 {
  margin-bottom: 25px;
}

.text-red {
  color: var(--secondary-color);
}

.container {
  max-width: 1620px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.little {
  width: 70% !important;
}

.detail-info-element {
  position: absolute;
  margin-top: 100px;
  left: calc(50vw - 85px);
}

.unique-aventure {
  margin-top: 105px;
  padding-top: 5px;
  text-align: center;
  background: url("../assets/images/bg_content.png") no-repeat top;
  background-color: var(--primary-color);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.unique-aventure img {
  margin-top: -10px;
}

@media (max-width: 1364px) {
  .detail-info-element {
    display: none;
  }
}

@media (max-width: 1070px) {
  .menu {
    display: none;
  }

  .menuMob {
    display: flex;
  }

  footer {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  #slider {
    display: none;
  }

  .container {
    margin-top: 122px;
  }
}

@font-face {
  font-family: "western";
  src: url("../assets/fonts/chinese_rocks_rg.ttf") format("truetype");
 }